*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

html{
    scroll-behavior: smooth;
}


body{
    background-color: #b6b6b6;
}

.navbar{
    background-color: #181818;
    width: 100%;
    z-index: 100;
    position: fixed;
    left: 0;
    right: 0;
    transition: .4s;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header h1,
header a{
    color: #aaaaaa;
    transition: .4s;
}
header h1:hover,
header a:hover{
    color: #ffc796;
}

.lgo h1 a{
    font-size: 1em;
    text-transform: none;
    padding: 20px 0;
}

nav ul{
    height: 100%;
}

li{
    list-style: none;
    transition: .4s;
}
li:hover{
    background-color: #444;
}

a{
    display: flex;
    text-decoration: none;
    font-size: .9rem;
    text-transform: uppercase;
    padding: 30px 0;
    text-align: center;
    width: 100%;
    justify-content: center;
}

.footer hr{
    border: 2px solid #707070;
    margin-top: 110px;
}

.footer p{
    text-align: center;
    color: #707070;
    font-size: 1.2rem;
    padding: 30px 0;
}


tbody, tr, .contact{
    overflow: auto;
}

@media screen and (max-width: 480px) {
    .container{
        padding: 0 15px 0 15px;
    }

    .navbar{
        width: 100%;
        bottom: 0;
        padding: 0;
    }

    .lgo{
        display: none;
    }

    nav{
        width: 100%;
    }

    li{
        width: 25%;
    }

    a{
        font-size: .75rem;
    }
}

/*Medium Smartphones*/
@media screen and (min-width: 481px) and (max-width: 768px) {
    .container{
        padding: 0 20px 0 20px;
    }

    .navbar{
        width: 100%;
        bottom: 0;
        padding: 0;
    }

    .lgo{
        display: none;
    }

    nav{
        width: 100%;
    }
}

/*Large Smartphones and small notebooks*/
@media screen and (min-width: 769px) and (max-width: 1199px) {
    .container{
        padding: 0 10px 0 10px;
        /*border: 3px solid #ED5565;*/
    }

    .navbar{
        top: 0;
    }
}

/*XLarges Screens*/
@media screen and (min-width: 1200px) {
    .container{
        padding: 0 100px 0 100px;
    }

    .navbar{
        top: 0;
    }

}